

<h1>Our stories</h1>

<% @stories.in_groups_of(3) do |group| %>
    <div class="row">
      <% group.compact.each do |story| %>
          <div class="col-md-4">
            <%= image_tag story.picture_url, width: '100%' if story.picture.present?%>
            <h4><%= link_to story.title, story %></h4>
            <%= story.content %>
          </div>
      <% end %>
    </div>
<% end %>
